{% extends 'base.html' %}
{% load static wagtailcore_tags %}

{# Page shell only - every section below is owned by a sibling include file. #}
{# Do not inline section markup here; add new sections as new includes.     #}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/summer_school.css' %}">
{% endblock %}

{% block body_class %}summer-school-page{% endblock %}

{% block content %}
    {% include 'breadcrumbs_include.html' with page=page %}

    {% include 'summer_school_hero_include.html' %}

    {% include 'summer_school_nav_include.html' %}

    <main>
        <section id="background">
            {% include 'summer_school_background_include.html' %}
        </section>

        <section id="structure">
            {% include 'summer_school_structure_include.html' %}
        </section>

        {% if page.trainers %}
            <section id="trainers">
                {% include 'trainers_include.html' %}
            </section>
        {% endif %}

        {% if page.schedule_sessions %}
            <section id="schedule">
                {% include 'summer_school_schedule_include.html' %}
            </section>
        {% endif %}

        {% if page.cohorts %}
            <section id="previous-schools">
                {% include 'summer_school_cohorts_include.html' %}
            </section>
        {% endif %}

        <section id="concept-note">
            {% include 'summer_school_concept_note_include.html' %}
        </section>

        {% if page.faq %}
            <section id="faq">
                {% include 'summer_school_faq_include.html' %}
            </section>
        {% endif %}
    </main>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/summer_school.js' %}"></script>
{% endblock %}
